{% extends "ds/modal.html" %}
{% block modal_body %}
    <div class="flex flex-col gap-4 overflow-y-scroll overflow-x-auto w-full">
        <form id="merchandise-form" onsubmit="event.preventDefault(); submitForm();">
            {% csrf_token %}
            <div class="p-5 w-full h-full">
                <!-- Image URL Input -->
                <div class="mb-4 w-full">
                    <label for="image_url" class="block text-gray-700 text-sm font-bold mb-2">
                        Image Url
                    </label>
                    <input type="text" id="image_url" value="{{ form.image_url.value }}" name="image_url" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required placeholder="Image URL">
                </div>

                <!-- Name Input -->
                <div class="mb-4 w-full">
                    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                        Name
                    </label>
                    <input type="text" id="name" value="{{ form.name.value }}" name="name" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required placeholder="Name">
                    {% if form.name.errors %}
                        <p class="text-red-500 text-xs italic">{{ form.name.errors }}</p>
                    {% endif %}
                </div>

                <!-- Description Input -->
                <div class="mb-4 w-full">
                    <label for="description" class="block text-gray-700 text-sm font-bold mb-2">
                        Description
                    </label>
                    <textarea id="description" name="description" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required placeholder="Description">{{ form.description.value }}</textarea>
                    {% if form.description.errors %}
                        <p class="text-red-500 text-xs italic">{{ form.description.errors }}</p>
                    {% endif %}
                </div>

                <!-- Price Input -->
                <div class="mb-4 w-full">
                    <label for="price" class="block text-gray-700 text-sm font-bold mb-2">
                        Price
                    </label>
                    <input type="number" id="price" value="{{ form.price.value }}" name="price" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required placeholder="Price">
                    {% if form.price.errors %}
                        <p class="text-red-500 text-xs italic">{{ form.price.errors }}</p>
                    {% endif %}
                </div>

                <div id="responseContainer" style="display: none;"></div>
                
                Buttons
                <div class="space-x-1">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Create Merchandise
                    </button>
                    <button type="button" onclick="closeEditModal('open-modal-1')" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function submitForm() {
            const form = document.getElementById('merchandise-form');
            const formData = new FormData(form);
            fetch("{% url 'merchandise:create_merchandise_ajax' %}", {
                method: "POST",
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                },
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw err; });
                }
                return response.json();
            })
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    window.location.href = "{% url 'merchandise:main' %}";
                } else if (data.errors) {
                    alert("Error in form submission: " + data.errors);
                }
            })
            .catch(error => {
                alert("An unexpected error occurred: " + error);
            });
        }

        function closeEditModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.add('opacity-0');
            modal.querySelector('div').classList.add('scale-95');
            document.getElementById('merchandise-form').reset();
            setTimeout(() => {
                modal.classList.add('hidden');
            }, 300);
        }
    </script>    
{% endblock %}