{% load static %}
<main class="">
    <div class="mx-auto">
        <h1 class="font-bold text-3xl my-2">Merchandise Shop</h1>

        {% if is_admin %}
            {% include "ds/button.html" with icon="fa fa-plus" text="Create Merchandise" class="w-fit h-fit z-50 bg-blue-500 text-white p-4 rounded-full shadow-lg hover:bg-blue-600" id="openModalButton" specify="open-modal-2" %}
        {% endif %}

        <div id="merchandise_cards" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10"></div>
        <div id="loading" class="loading-spinner hidden"></div>
    </div>

    <script>
        async function fetchMerchandiseEntries() {
            const merchandiseCards = document.getElementById("merchandise_cards");
            const loadingSpinner = document.createElement("loading");
            loadingSpinner.classList.remove("hidden");
            merchandiseCards.innerHTML = ""; // Clear existing cards
            const merchandiseEntries = await getMerchandise();
            
            const isAdmin = {{ is_admin|yesno:"true,false" }};

            merchandiseEntries.forEach((item) => {
                let cardHTML = `
                    <div class="bg-white rounded-lg shadow-md overflow-hidden relative flex flex-col justify-between">
                        ${isAdmin ? `
                            <div class="absolute top-2 right-2 flex space-x-1 z-10">
                                <a href="/edit-merchandise/${item.pk}" class="bg-yellow-500 hover:bg-yellow-600 text-white rounded-full transition duration-300 shadow-md flex items-center justify-center w-7 h-7">
                                    <i class="fa fa-pencil text-sm" aria-hidden="true"></i>
                                </a>
                                <a href="/delete-merchandise/${item.pk}" class="bg-red-700 hover:bg-red-600 text-white rounded-full transition duration-300 shadow-md flex items-center justify-center w-7 h-7">
                                    <i class="fa fa-trash text-sm" aria-hidden="true"></i>
                                </a>
                            </div>
                        ` : ""}
                        <img src="${item.fields.image_url}" alt="${item.fields.name}" class="w-full h-44 object-cover">
                        <div class="flex flex-col justify-between p-8 flex-grow">
                            <div>
                                <h5 class="text-lg font-bold line-clamp-2" title="${item.fields.name}">${item.fields.name}</h5>
                                <p class="text-gray-700 mb-2 overflow-auto max-h-16 text-xs line-clamp-3">${item.fields.description}</p>
                            </div>
                            <div class="flex flex-col items-start mt-auto">
                                <p class="text-base font-bold">Rp ${item.fields.price}</p>
                                
                                <div class="flex justify-between items-center w-full mt-2">
                                    <div class="flex justify-center w-full gap-2">
                                        <button type="button" class="font-bold" onclick="decreaseValue('${item.pk}')">-</button>
                                        <input type="number" id="quantity-${item.pk}" value="1" min="1" class="text-center w-[80px] outline-none px-2 bg-[#0047FE] text-white py-2 pl-5">
                                        <button type="button" class="font-bold" onclick="increaseValue('${item.pk}')">+</button>
                                    </div>
                                    <a href="">
                                        <button class="text-xs px-6" style="font-size: 5px; padding: 1px; width: 10px; height: 6px;">Buy</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                merchandiseCards.innerHTML += cardHTML;
            });
            loadingSpinner.classList.add("hidden");
        }
        
        async function getMerchandise() {
            return fetch("{% url 'merchandise:showMerch_json' %}").then((res) => res.json());
        }

        function decreaseValue(id) {
            let quantityInput = document.getElementById("quantity-" + id);
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        }

        function increaseValue(id) {
            let quantityInput = document.getElementById("quantity-" + id);
            let currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
        }

        // Call function to load merchandise entries
        fetchMerchandiseEntries();
    </script>
</main>