{% extends "ds/modal.html" %}
{% block modal_body %}
    <form method="POST" action="{% url 'yogforum:add_reply' forum_post.id %}">
        {% csrf_token %}
        <textarea name="content" placeholder="Your Reply" class="w-full p-2 border border-gray-300 rounded-lg" required></textarea>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
            Reply to {{ forum_post.user.user.username }}
        </button>
    </form>
{% endblock %}

{% block modal_footer %}{% endblock %}
