{% extends "ds/modal.html" %}
{% block modal_body %}
    <form method="POST" id="replyPostForm" action="{% url 'yogforum:add_reply' forum_post.id %}" class="space-y-4 p-6">
        {% csrf_token %}

        <!-- Updated to reply to the user instead of the title -->
        <div class="mt-2">
            <h2 class="text-lg font-semibold">Reply to {{ forum_post.user.user.username }}</h2> <!-- Reply to the post author -->
        </div>
        {% include "ds/textarea.html" with name="content" id="content" required="True" class="min-h-[200px] w-full" placeholder="Your reply goes here ..." %}
    </form>
    <script>
        function submitReplyForm() {
            const form = document.getElementById('replyPostForm');
            showToast('Replying to the post...', 'progress');
            form.submit();
        }
    </script>
{% endblock %}