{% extends "ds/modal.html" %}
{% block modal_body %}
    <div class="bg-white rounded-lg w-[350px] max-w-[350px] lg:min-w-[1000px] h-fit max-h-[500px] lg:max-h-[700px] p-6">
        <form method="POST" id="addPostForm" action="{% url 'yogforum:add_post' %}">
            {% csrf_token %}
            <div class="mt-4">
                <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                <input type="text" name="title" id="title" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
            </div>
            
            <div class="mt-4">
                <label for="content" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea name="content" id="content" rows="4" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"></textarea>
            </div>
            
            <div class="mt-6 flex justify-end">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add to Forum</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block modal_footer %}{% endblock %} <!-- Override the modal_footer to exclude Save/Cancel buttons -->
