{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="w-full mb-20 px-4 sm:px-6 lg:px-8 mt-24">
    <div class="text-center"> 
        <h1 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-[#003FE2]">
            Replies to "
            {% if forum_post.reply_to %}
                {{ forum_post.reply_to.user.user.username }}
            {% else %}
                {{ forum_post.forum.user.user.username }}
            {% endif %} "
        </h1>
    </div>
    
    <!-- Reply acting as a post -->
    <div class="bg-gray-100 p-6 rounded-lg shadow-md mb-8 mt-4">
        <div class="flex justify-between items-center mb-4">
            <div>
                <h2 class="text-xl font-semibold">Reply by {{ forum_post.user.user.username }}</h2>
                <p class="text-sm text-gray-500">{{ forum_post.content }}</p>
            </div>
            <div class="flex items-center space-x-4">
                <span class="text-sm text-gray-500 flex items-center">
                    <i class="fas fa-thumbs-up"></i> {{ forum_post.totalLike }}
                </span>
                <span class="text-sm text-gray-500 flex items-center">
                    <i class="fas fa-thumbs-down"></i> {{ forum_post.totalDislike }}
                </span>
                {% if forum_post.user == request.user.userprofile %}
                    <form method="POST" action="{% url 'yogforum:delete_reply' reply_id=forum_post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="text-red-500 hover:text-red-700 ml-4">Delete</button>
                    </form>

                    <button class="text-blue-500 hover:text-blue-700 ml-4" onclick="openModal('edit-modal-{{ forum_post.id }}')">
                        Edit Post
                    </button>
                    {% include "components/edit_modal.html" with modal_id="edit-modal-{{ forum_post.id }}" object=forum_post %}
                {% endif %}
            </div>
        </div>
        <p class="text-gray-700 mb-4">{{ forum_post.created_at|date:"H:i" }} • {{ forum_post.created_at|date:"d/m/Y" }}</p>

        <!-- Button to trigger Reply Modal for reply acting as post -->
        {% include "ds/button.html" with icon="fa fa-reply" text="Reply to this Reply" class="w-fit h-fit px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600" id="openModalButton" specify="open-modal-1" button_type="primary" %}
    </div>

    <!-- Include modal for adding reply to this reply -->
    {% include "components/add_reply.html" with modal_id="open-modal-1" modal_title="Add a Reply" modal_class="w-[350px] max-w-[500px] lg:min-w-[1000px]" %}

    <!-- Replies to this Reply -->
    <h3 class="font-bold text-lg mb-4">Replies to this Reply</h3>
    <div class="space-y-6">
        {% for reply in replies %}
            <!-- Include template for replies -->
            {% include "components/reply.html" with reply=reply level=1 %}
        {% endfor %}
    </div>

    <!-- Button Back to Main Forum -->
    <div class="mt-10">
        <a href="{% url 'yogforum:main' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
            <i class="fas fa-arrow-left mr-2"></i> Back to Home
        </a>
    </div>
</main>
{% endblock content %}