{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container absolute" id="navbar-1-container">
        {% include "ds/navbar.html" with nav_id="up" %}
    </div>
    <div class="container absolute hidden" id="navbar-2-container">
        {% include "ds/navbar.html" with isDark=False nav_id="down" %}
    </div>
    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }

        .section-title {
            font-size: 3rem;
            background: linear-gradient(to right, #4f46e5, #22d3ee);
            -webkit-background-clip: text;
            color: transparent;
        }

        .cta-button {
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .cta-button:hover {
            background-color: #4f46e5;
            transform: scale(1.05);
        }

        .card {
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .card:hover::after {
            opacity: 1;
        }

        .card h2, .card p {
            z-index: 1;
        }

        .card img {
            transition: transform 0.3s ease-in-out;
        }

        .card:hover img {
            transform: scale(1.1);
        }

        .accordion-item {
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            margin-bottom: 1rem;
        }
    </style>

    <!-- Hero Section -->
    <section class="w-full flex flex-col justify-center items-center h-[100vh] gap-5 px-10 md:20 lg:px-32 fade-in bg-cover bg-center relative" style="background-image: url('https://res.cloudinary.com/mxgpapp/image/upload/v1729873005/eventyog/assets/landing-hero-bg.jpg');">
        <div class="absolute inset-0 bg-gradient-to-br from-[#00FF57] to-[#487BFF] opacity-90 z-0"></div>
        <div class="w-full h-full z-30 mt-32 flex flex-col md:flex-row gap-10 items-center">
            <img 
                id="hero-image" 
                src="https://res.cloudinary.com/mxgpapp/image/upload/v1729906731/eventyog/assets/eqevwhpsunbakctnacoo.png"
                alt="EventYog Logo"
                class="w-full object-contain max-h-[300px] md:max-h-[600px] max-w-[300px] lg:max-w-[400px] xl:max-w-[500px]"
            />
            <div class="w-full space-y-5 text-center md:text-left">
                <h1 class="text-3xl md:text-6xl font-bold text-white">BEST EVENT AND MERCHING PLATFORM IN YOGYAKARTA</h1>
                <div class="flex flex-col md:flex-row gap-2">
                    <a href="{% url 'yogevent:main' %}" class="w-full">
                        {% include "ds/button.html" with text="See Events" %} 
                    </a>
                    {% include "ds/button.html" with text="Learn More" variant="secondary" id="learn-more-button" %}
                </div>
            </div>
        </div>
    </section>

    <section id="why-us-section" class="px-10 md:20 lg:px-32 flex flex-col items-center gap-10 mt-10">
        <div class="flex flex-col items-center gap-2 text-center">
            <h1 class="text-3xl md:text-5xl font-bold">Why Us</h1>
            <h3 class="">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit AmetLorem Ipsum Dolor Sit Amet</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <div class="bg-gradient-to-br from-[#00FF57] to-[#0047FE]">
                <div class="m-[2px] bg-white px-10 py-5 relative">
                    <h3 class="absolute -top-5 font-bold text-2xl bg-white px-5">Exciting Events</h3>
                    <p>
                        Discover a wide range of events happening in Yogyakarta, from concerts to cultural festivals.
                    </p>
                </div>
            </div>
            <div class="bg-gradient-to-br from-[#00FF57] to-[#0047FE]">
                <div class="m-[2px] bg-white px-10 py-5 relative">
                    <h3 class="absolute -top-5 font-bold text-2xl bg-white px-5">Exclusive Merchandise</h3>
                    <p>
                        Shop exclusive event merchandise and create lasting memories with unique items.
                    </p>
                </div>
            </div>
            <div class="bg-gradient-to-br from-[#00FF57] to-[#0047FE]">
                <div class="m-[2px] bg-white px-10 py-5 relative">
                    <h3 class="absolute -top-5 font-bold text-2xl bg-white px-5">Personalized Experience</h3>
                    <p>
                       We make sure that every event experience is tailored to your preferences and interests. 
                    </p>
                </div>
            </div>
            <div class="bg-gradient-to-br from-[#00FF57] to-[#0047FE]">
                <div class="m-[2px] bg-white px-10 py-5 relative">
                    <h3 class="absolute -top-5 font-bold text-2xl bg-white px-5">Community Engangement</h3>
                    <p>
                        Join a vibrant community of event enthusiasts and make new friends with similar interests.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Partners Section -->
    <section class="px-10 md:20 lg:px-32 flex flex-col items-center gap-10 mt-10">
        <div class="flex flex-col items-center gap-2 text-center">
            <h1 class="text-3xl md:text-5xl font-bold">Our Partners</h1>
            <h3 class="">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit AmetLorem Ipsum Dolor Sit Amet</h3>
        </div>
        <div class="flex flex-wrap justify-center">
            <img 
                src="https://res.cloudinary.com/mxgpapp/image/upload/v1729907697/eventyog/assets/partners/xrkczsicrpdk7zwwhqyi.png" alt="CherryPop"
                class="h-[60px] md:h-[90px] object-contain m-5"
            >
            <img 
                src="https://res.cloudinary.com/mxgpapp/image/upload/v1729907697/eventyog/assets/partners/vjuwak0yeq9w2nluxeea.png"
                alt="Tokopedia"
                class="h-[60px] md:h-[90px] object-contain m-5"
            >
            <img
                src="https://res.cloudinary.com/mxgpapp/image/upload/v1729907697/eventyog/assets/partners/gddxr9hdfa9csdjgy4yq.png"
                alt="Wardah"
                class="h-[60px] md:h-[90px] object-contain m-5"
            >
            <img 
                src="https://res.cloudinary.com/mxgpapp/image/upload/v1729907697/eventyog/assets/partners/knvd0dqp60bnnunbockv.png"
                alt="Pemerintah Jogja"
                class="h-[60px] md:h-[90px] object-contain m-5"
            >
            <img 
                src="https://res.cloudinary.com/mxgpapp/image/upload/v1729907697/eventyog/assets/partners/srdjapgg2dkxhbskc9na.png"                
                alt="Shoopee"
                class="h-[60px] md:h-[90px] object-contain m-5"
            >
        </div>
    </section>

    <!-- Upcoming Events-->
    <section class="px-10 md:20 lg:px-32 flex flex-col items-center gap-10 mt-10">
        <div class="flex flex-col items-center gap-2 text-center">
            <h1 class="text-3xl md:text-5xl font-bold">Upcoming Events</h1>
            <h3 class="">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit AmetLorem Ipsum Dolor Sit Amet</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
            {% for event in first_8_events %}
                <div class="flex flex-col bg-white rounded-xl shadow-xl overflow-hidden">
                    <img 
                        src="{{event.image_urls}}" 
                        class="h-[200px] object-cover"
                        alt="">
                    <div class="flex gap-5 p-5">
                        <div class="flex flex-col items-center">
                            <h3 class="font-semibold text-[#3D37F1]">{{event.month}}</h3>
                            <h1 class="font-bold text-2xl">{{event.day}}</h1>
                        </div>
                        <div>
                            <h1 class="font-bold">{{event.title}}</h1>
                            <p class="text-sm font-regular line-clamp-3">
                                {{event.description}}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'yogevent:main' %}">
            {% include "ds/button.html" with text="See More" variant="primary" class="w-fit" %}
        </a>
    </section>

    <!-- FAQ Section -->
    <section class="px-10 md:20 lg:px-32 flex flex-col items-center gap-10 mt-10 mb-32">
        <div class="flex flex-col items-center gap-2 text-center">
            <h1 class="text-3xl md:text-5xl font-bold">Wanna Ask Some Questions?</h1>
            <h3 class="">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit AmetLorem Ipsum Dolor Sit Amet</h3>
        </div>
        <div class="w-full md:w-[700px] space-y-5">
            {% for qna in faq_qna %}
                {% include "ds/accordion.html" with title=qna.question content=qna.answer id=qna.id %}
            {% endfor %}
        </div>
    </section>

    <!-- Smooth Scroll Script -->
    <script>
        document.getElementById('learn-more-button').addEventListener('click', function () {
            const offset = 100; // Adjust the offset for smooth scroll
            const element = document.getElementById('why-us-section');
            const elementPosition = element.getBoundingClientRect().top + window.pageYOffset;
            const offsetPosition = elementPosition - offset - 100;

            window.scrollTo({
                top: offsetPosition,
                behavior: 'smooth'
            });
        }); 

        // Scroll event to change navbar text color
        window.addEventListener('scroll', function() {
            const navbar1 = document.getElementById('navbar-1-container');
            const navbar2 = document.getElementById('navbar-2-container');

            if (window.scrollY > window.innerHeight - 100) {
                navbar1.classList.add('hidden');
                navbar2.classList.remove('hidden');
            } else {
                navbar1.classList.remove('hidden');
                navbar2.classList.add('hidden');
            }
        });

        const images = [
            "https://res.cloudinary.com/mxgpapp/image/upload/v1729906731/eventyog/assets/eqevwhpsunbakctnacoo.png",
            "https://res.cloudinary.com/mxgpapp/image/upload/v1729873975/eventyog/assets/bfnbuzrckx95zi8suogq.png",
            "https://res.cloudinary.com/mxgpapp/image/upload/v1729873975/eventyog/assets/jwte50yj5mzdhcqatkej.png"
        ];

        let currentIndex = 0;

        function changeImage() {
            const heroImage = document.getElementById('hero-image');
            heroImage.classList.add('fade-out'); // Add fade-out class for smooth transition

            setTimeout(() => {
            currentIndex = (currentIndex + 1) % images.length; // Cycle through images
            heroImage.src = images[currentIndex];
            heroImage.classList.remove('fade-out'); // Remove fade-out class after image change
            heroImage.classList.add('fade-in'); // Add fade-in class for smooth transition

            setTimeout(() => {
                heroImage.classList.remove('fade-in'); // Remove fade-in class after transition
            }, 1000); // Duration of fade-in animation
            }, 500); // Duration of fade-out animation
        }

        setInterval(changeImage, 5000); // Change image every 5 seconds

        // CSS for smooth transitions
        const style = document.createElement('style');
        style.innerHTML = `
            .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            }
            .fade-in {
            opacity: 1;
            transition: opacity 1s ease-in-out;
            }
        `;
        document.head.appendChild(style);
    </script>
{% endblock content %}
