{% extends "base.html" %}
{% block content %}
<div class="px-10 md:20 lg:px-32 my-48">
    <div class="rounded-lg flex flex-col md:flex-row">
        <div class="md:w-1/2 flex justify-center mb-4 md:mb-0">
            {% if event.image_urls %}
                <img class="w-full max-w-lg object-cover rounded-lg" src="{{ event.image_urls.0 }}" alt="{{ event.title }}">
            {% else %}
                <img class="w-full max-w-lg object-cover rounded-lg" 
                    src="https://via.placeholder.com/800x400"
                alt="{{ event.title }}">
            {% endif %}
        </div>

        <div class="md:w-1/2 flex flex-col justify-center pl-0 md:pl-6">
            <h1 class="text-4xl font-bold text-center md:text-left mb-2">{{ event.title }}</h1>
            <div class="event-details">
                <p class="text-gray-700 mb-2">{{ event.description }}</p>
                <div class="text-sm text-gray-600 flex items-center gap-2 mb-2">
                    <i class="fa fa-calendar text-blue-500 w-4"></i>
                    <p><span class="font-semibold">{{ event.start_time }}</span> - <span class="font-semibold">{{ event.end_time }}</span></p>
                </div>
                <div class="text-sm text-gray-600 flex items-center gap-2">
                    <i class="fa fa-map-pin text-blue-500 w-4"></i>
                    <span class="font-semibold">{{ event.location }}</span>
                </div>
            </div>

            <div class="rating-section mt-5">
                <h2 class="text-2xl font-semibold mb-2">Ratings:</h2>
                <p id="averageRating">Average Rating: {{ total_rating }}/5.0</p>
            </div>

            {% if tickets %}
                {% include "ds/button.html" with text="Buy Ticket" class="w-fit mt-5" icon="fa fa-ticket" id="openModalButton" specify="open-modal-1" %}
                {% include "components/buy_ticket.html" with modal_id="open-modal-1" modal_title="Buy Ticket" modal_label="modal-label" %}
            {% else %}
                {% include "ds/button.html" with text="Book Event (Free)" class="w-fit mt-5" icon="fa fa-ticket" onclick="onBookFree();" %}
            {% endif %}
        </div>
    </div>
    <hr class="my-10">
    {% include 'merchandise.html' %}
    {% include "create_merchandise.html" with modal_id="open-modal-2" modal_title="+ Create Merchandise" modal_class="fixed inset-0 flex items-center justify-center z-50 bg-white overflow-y-auto" %}
</div>
<script>
    function onBookFree() {
        showToast('Event booked successfully!', 'success');
        fetch(`/yogevent/book-event/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                ticket_name: null,
                event_uuid: "{{ event.uuid }}"
            })
        })
    }
</script>
{% endblock %}
