<div class="relative max-w-sm min-h-[400px] rounded shadow-lg border border-gray-300 event-card mx-auto" id="event-card-{{ event.uuid }}">
    {% if event.image_url %}
        <img class="w-full h-48 object-cover" src="{{ event.image_urls.0 }}" alt="{{ event.title }}">
    {% else %}
        <img class="w-full h-48 object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFI7ygT65aVwQcrF_RPAqJQvfDXby3GVDyng&s" alt="{{ event.title }}">
    {% endif %}
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ event.title }}</div>
        <p class="text-gray-700 text-base" id="event-description-{{ event.uuid }}">
            {{ event.description|truncatewords:10 }}
        </p>
        <div class="text-sm text-gray-600 flex items-center gap-2">
            <i class="fa fa-calendar text-blue-500 w-4"></i>
            <span>{{ event.start_time }}</span>
        </div>
        <div class="text-sm text-gray-600 flex items-center gap-2">
            <i class="fa fa-map-pin text-blue-500 w-4"></i>
            <span>{{ event.location }}</span>
        </div>
        <button id="view-more-{{ event.uuid }}" class="read-more text-blue-500 hover:text-blue-700">View More</button>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ event.get_category_display }}</span>
    </div>
    
    {% if is_admin %}
    <!-- Button untuk Edit dan Delete -->
    <div class="absolute top-0 -right-4 flex space-x-1">
        <a href="{% url 'yogevent:edit_event' event.uuid %}" class="bg-yellow-500 hover:bg-yellow-600 text-white rounded-full p-2 transition duration-300 shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
        </a>
        <a href="{% url 'yogevent:delete_event' event.uuid %}" class="bg-red-500 hover:bg-red-600 text-white rounded-full p-2 transition duration-300 shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>

    <!-- Modal Edit Event -->
    <div id="editEventModal" class="fixed inset-0 flex items-center justify-center z-50 hidden bg-black bg-opacity-50 transition-opacity duration-300">
        <div class="bg-white rounded-lg flex flex-col gap-4 p-6 overflow-y-auto w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg mx-4" style="max-height: 90vh;">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Edit Event</h2>
            <form method="post" action="{% url 'yogevent:edit_event' event.uuid %}" id="event-form">
                {% csrf_token %}
                <!-- Form Fields -->
                <div class="space-y-4">
                    <div class="p-5 w-full">
                        <!-- Title Input -->
                        <div class="mb-4 w-full">
                            <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
                            <input type="text" id="title" name="title" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ form.title.value }}" required placeholder="Title">
                            {% if form.title.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.title.errors }}</p>
                            {% endif %}
                        </div>
    
                        <!-- Description Input -->
                        <div class="mb-4 w-full">
                            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
                            <textarea id="description" name="description" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required placeholder="Description">{{ form.description.value }}</textarea>
                            {% if form.description.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.description.errors }}</p>
                            {% endif %}
                        </div>
    
                        <!-- Event Category Dropdown -->
                        <div class="mb-4">
                            <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Event Category</label>
                            <select name="category" id="category" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option value="OL">Olahraga</option>
                                <option value="SN">Seni</option>
                                <option value="MS">Musik</option>
                                <option value="CP">Cosplay</option>
                                <option value="LG">Lingkungan</option>
                                <option value="VL">Volunteer</option>
                                <option value="AK">Akademis</option>
                                <option value="KL">Kuliner</option>
                                <option value="PW">Pariwisata</option>
                                <option value="FS">Festival</option>
                                <option value="FM">Film</option>
                                <option value="FN">Fashion</option>
                                <option value="LN">Lainnya</option>
                            </select>
                        </div>
    
                        <!-- Align Start Time and End Time in one row -->
                        <div class="mb-4 flex flex-col md:flex-row gap-4">
                            <!-- Event Start Time -->
                            <div class="w-full">
                                <label for="start_time" class="block text-gray-700 text-sm font-bold mb-2">Start Time</label>
                                <input type="datetime-local" id="start_time" name="start_time" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                            </div>
    
                            <!-- Event End Time -->
                            <div class="w-full">
                                <label for="end_time" class="block text-gray-700 text-sm font-bold mb-2">End Time</label>
                                <input type="datetime-local" id="end_time" name="end_time" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                            </div>
                        </div>
    
                        <!-- Location Input -->
                        <div class="mb-4">
                            <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location</label>
                            <input type="text" id="location" name="location" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Event Location">
                        </div>
    
                        <!-- Image URL Input -->
                        <div class="mb-4">
                            <label for="image_url" class="block text-gray-700 text-sm font-bold mb-2">Image URL</label>
                            <input type="url" name="image_url" id="image_url" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="https://example.com/image.jpg">
                        </div>
                    </div>
                </div>
    
                <!-- Buttons -->
                <div class="mt-4 flex justify-end">
                    <button type="submit" onclick="closeEditModal()" class="bg-gray-400 hover:bg-gray-500 text-white rounded px-4 py-2">Cancel</button>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2 ml-2">Save</button>
                </div>
            </form>
        </div>
    </div>        
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const card = document.getElementById('event-card-{{ event.uuid }}');
        const viewMoreBtn = document.getElementById('view-more-{{ event.uuid }}');
        const description = document.getElementById('event-description-{{ event.uuid }}');

        viewMoreBtn.addEventListener('click', function() {
            window.location.href = "{% url 'yogevent:detail_event' event.uuid %}";
        });
    });

    function openEditModal(uuid) {
        document.getElementById('editEventModal').classList.remove('hidden');
    }

    function closeEditModal() {
        document.getElementById('editEventModal').classList.add('hidden');
    }


</script>

