<button 
    class="flex items-center justify-center gap-2 w-full py-3 px-10 text-white text-xs md:text-sm font-semibold rounded-full h-full hover:scale-105 duration-300
    {% if variant == 'primary' %} bg-[#003FE2] {% elif variant == 'secondary' %} bg-black/0 border-white border-2 {% elif variant == 'danger' %} bg-[#E2003F] {% else %} bg-[#003FE2] {% endif %} {{class}}"
    {% if id %}
        {% if specify %} 
            id="{{ id }}-{{ specify }}" 
        {% else %} 
            id="{{ id }}" 
        {% endif %}
    {% endif %}
    {% if onclick %} onclick="{{ onclick }}" {% endif %}
    {% for key, value in props.items %}
        {{ key }}="{{ value }}"
    {% endfor %}
    >
    {% if icon %}
        <i class="{{ icon }}"></i>
    {% endif %}
    {% if text %}
        <span>{{ text }}</span>
    {% endif %}
</button>