<button 
    class="flex items-center justify-center gap-2 w-full py-3 px-10 text-white text-sm font-semibold rounded-xl h-full hover:scale-105 duration-300
    {% if button_type == 'primary' %} bg-[#003FE2] {% elif button_type == 'secondary' %} bg-[#00E2A1] {% elif button_type == 'danger' %} bg-[#E2003F] {% else %} bg-[#003FE2] {% endif %}"
    {% if onclick %} onclick="{{ onclick }}" {% endif %}
    {% for key, value in props.items %}
        {{ key }}="{{ value }}"
    {% endfor %}
    >
    {% if icon %}
        <i class="{{ icon }}"></i>
    {% endif %}
    <span>{{ text }}</span>
</button>