{% load static %}
<footer class="px-10 py-10 bg-[#003FE2] text-white flex flex-col gap-5">
    <div
        class="flex flex-col gap-6"
    >
        <div class="flex gap-4 items-center">
            <img 
                src="{% static 'assets/eventyog-white.png' %}" 
                alt="icon" 
                class="w-10 object-contain"
            />
            <h1 class="font-semibold text-xl">EventYog</h1>
        </div>
    </div>
    <div class="w-full flex justify-center">
        <h3 class="text-xs">&copy; 2024 HalfOfDozen</h3>
    </div>
</footer>