<div id="toast-container" class="fixed bottom-4 right-4"></div>

<script>
    function showToast(message, type = 'error') {
        const toastContainer = document.getElementById('toast-container');
        const toast = document.createElement('div');
        let bgColor;
        
        switch (type) {
            case 'error':
                bgColor = 'bg-red-500 text-white';
                break;
            case 'success':
                bgColor = 'bg-green-500 text-white';
                break;
            case 'info':
                bgColor = 'bg-white text-black';
                break;
            case 'loading':
                bgColor = 'bg-[#F6E43A] text-black';
                break;
            default:
                bgColor = 'bg-white text-black';
        }

        toast.className = `toast ${bgColor} p-3 px-5 rounded-lg mb-2`;
        toast.textContent = message;
        toastContainer.appendChild(toast);

        if (type !== 'loading') {
            setTimeout(() => {
                toast.remove();
            }, 3000); // Remove toast after 3 seconds
        } else {
            toast.id = 'loading-toast';
        }
    }

    function hideToast() {
        const loadingToast = document.getElementById('loading-toast');
        if (loadingToast) {
            loadingToast.remove();
        }
    }
</script>

<style>
    .toast {
        animation: fadeInOut 3s;
    }

    @keyframes fadeInOut {
        0% { opacity: 0; }
        10% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
    }
</style>